# ----------------------------------------------------------------------
# Cache Policy
# ----------------------------------------------------------------------

<IfModule mod_expires.c> 
  ExpiresActive On
  ExpiresDefault "access plus 1 seconds"

  # HTML (10 minutes)
  ExpiresByType text/html "access plus 1 seconds"

  # Media (7 days)
  ExpiresByType image/x-icon "access plus 604800 seconds"
  ExpiresByType image/gif "access plus 604800 seconds"
  ExpiresByType image/webp "access plus 604800 seconds"
  ExpiresByType image/jpg "access plus 604800 seconds"
  ExpiresByType image/jpeg "access plus 604800 seconds"
  ExpiresByType image/png "access plus 604800 seconds"
  ExpiresByType image/svg+xml "access plus 604800 seconds"

  # CSS & JS (30 days)
  # ExpiresByType text/css "access plus 2592000 seconds"
  # ExpiresByType text/javascript "access plus 2592000 seconds"
  # ExpiresByType application/x-javascript "access plus 2592000 seconds"
</IfModule>
