# ----------------------------------------------------------------------
# Expires headers (for better cache control)
# ----------------------------------------------------------------------

<IfModule mod_expires.c>
  ExpiresActive on

# Your document html
  ExpiresByType text/html "access plus 0 seconds"

# Media: images, video, audio
  ExpiresByType audio/ogg "access plus 1 hour"
  ExpiresByType image/gif "access plus 1 hour"
  ExpiresByType image/jpeg "access plus 1 hour"
  ExpiresByType image/png "access plus 1 hour"
  ExpiresByType video/mp4 "access plus 1 hour"
  ExpiresByType video/ogg "access plus 1 hour"
  ExpiresByType video/webm "access plus 1 hour"

# CSS and JavaScript
  ExpiresByType application/javascript "access plus 1 hour"
  ExpiresByType text/css "access plus 1 hour"
</IfModule>
